// 引入 normalize
@import "normalize";
// 引入 base
@import "base";


/*  less 中使用 px2rem 的方法
使用示例  .container {
            .px2rem(height, 240);
          }*/
// 计算尺寸的方法
@baseFontSize: 32;      //基于视觉稿横屏尺寸/20得出的基准font-size
.px2rem(@name, @px){
  @{name}: @px / @baseFontSize * 1rem;
}

// 直接设置背景图居中显示
.bgic (@url,@width) {
  background: url(@url) no-repeat center / 100% 100%;
  position: absolute;
  left: 50%;
  .px2rem(margin-left,(@width/-2));
}

// 直接设置背景图 不考虑居中
.bgi (@url) {
  background: url(@url) no-repeat center / 100% 100%;
  position: absolute;
}
// 设置尺寸
.size (@width,@height) {
  .px2rem(width,@width);
  .px2rem(height,@height);
}

html,body {
    height: 100%;
}
body {
    margin: 0;
}

// loading 页面
.loading {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #ffece9;
    z-index: 3;

  .rider {
    position: absolute;
    width: (154/32) * 1rem;
    height: (121/32) * 1rem;
    background: url("../images/loading/rider_2.png") no-repeat center / 100% 100%;
    top: (233/32) * 1rem;
    right: (108/32) * 1rem;
  }
  .progress {
    width: (416/32)*1rem;
    height: (20/32)*1rem;
    background-color: #fc2e4d;
    border: 2px solid #373838;
    border-radius: (20/32)*1rem;
    position: absolute;
    left: 50%;
    margin-left: (-416/32/2)*1rem;
    top: (360/32)*1rem;
  }
  .info {
    width: (220/32)*1rem;
    height: (28/32)*1rem;
    background: url("../images/loading/loading.png") no-repeat center / 100% 100%;
    position: absolute;
    left: 50%;
    margin-left: (-220/32/2)*1rem;
    top: (420/32)*1rem;
  }
  .logo {
    width: (162/32)*1rem;
    height: (39/32)*1rem;
    background: url("../images/loading/logo.png") no-repeat center / 100% 100%;
    position: absolute;
    bottom: (118/32)*1rem;
    left: 50%;
    margin-left: (-162/32/2)*1rem;
  }
  .copyright {
    font-size: (24/32)*1rem;
    color: #e0979d;
    position: absolute;
    bottom: (73/32)*1rem;
    width: 100%;
    text-align: center;
  }
}

// welcome 页面
.welcome {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: deepskyblue;
  z-index: 2;
  // 顶部文字
  .info {
    width: (392/32)*1rem;
    height: (224/32)*1rem;
    background: url("../images/welcome/tiitle.png") no-repeat center / 100% 100%;
    position: absolute;
    top: (42/32)*1rem;
    left: 50%;
    margin-left: (-392/32/2)*1rem;
    // hello 文字
    .hello {
      width: (70/32)*1rem;
      height: (75/32)*1rem;
      position: absolute;
      background: url("../images/welcome/hello.png") no-repeat center / 100% 100%;
      top: (20/32)*1rem;
      right: (8/32)*1rem;
    }
  }
  // 云
  .cloud {
    width: (640/32)*1rem;
    height: (673/32)*1rem;
    bottom: 0;
    position: absolute;
    background: url("../images/welcome/cloud.png") no-repeat center / 100% 100%;
  }
  // 草地
  .grass1 {
    width: (640/32)*1rem;
    height: (396/32)*1rem;
    bottom: 0;
    position: absolute;
    background: url("../images/welcome/grass1.png") no-repeat center / 100% 100%;
  }
  // 熊
  .bear-box {
    width: (167/32)*1rem;
    height: (279/32)*1rem;
    position: absolute;
    bottom: (346/32)*1rem;
    left: 50%;
    margin-left: (-167/32/2)*1rem;
    .bear {
      width: 100%;
      height: 100%;
      background: url("../images/welcome/bear.png") no-repeat center / 100% 100%;
      top: 0;
      left: 0;
    }
    .smoke {
      width: (167/32)*1rem;
      height: (32/32)*1rem;
      background: url("../images/welcome/smoke.png") no-repeat center / 100% 100%;
      bottom: 0;
    }
  }
  // 树
  .trees {
    width: (599/32)*1rem;
    height: (71/32)*1rem;
    bottom: (352/32)*1rem;
    position: absolute;
    background: url("../images/welcome/trees.png") no-repeat center / 100% 100%;
  }
  // 草2
  .grass2 {
    width: (640/32)*1rem;
    height: (228/32)*1rem;
    bottom: 0;
    position: absolute;
    background: url("../images/welcome/grass2.png") no-repeat center / 100% 100%;
  }
  // 按钮
  .rotate-btn-box {
    width: (208/32)*1rem;
    height: (208/32)*1rem;
    position: absolute;
    bottom: (86/32)*1rem;
    left: 50%;
    margin-left: (-208/32/2)*1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn {
      width: (124/32)*1rem;
      height: (113/32)*1rem;
      background: url("../images/welcome/btn.png") no-repeat center /100% 100%;
    }
    .circle1 {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: url("../images/welcome/circle1.png") no-repeat center / 100% 100%;
    }
    .circle2 {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: url("../images/welcome/circle2.png") no-repeat center / 100% 100%;
    }
  }

}

// swiper 样式
.swiper-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/*.swiper-slide {
    font-size: 100px;
    border: 10px solid #cccccc;
    box-sizing: border-box;
    background-color: pink;
}*/

// 轮播页面
.page1 {
  background-color: #be8651;
  // 标题
  .title {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding-left: 1rem;
    h3 {
      color: white;
      font-size: 2rem;
    }
    p {
      color: white;
      padding-top: (12/32)*1rem;
      font-size: (12/32)*1rem;
    }
    .line {
      height: 100%;
      width: (5/32)*1rem;
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  // 轮播区域
  .scroll-page1 {
    .bg {
      .bgic("../images/page1/bg1.png",576);
      .px2rem(bottom,252);
      .size(576,573);
    }
    .person {
      .bgic("../images/page1/person.png",439);
      .px2rem(bottom,290);
      .size(439,349);
      z-index: 1;
      .files {
        background-size: 3.59375rem 3.5625rem;
        width: 2.65625rem;
        height: 1.5625rem;
        bottom: 3.25rem;
        right: 0.84375rem;
        position: absolute;
        .paper1 {
          background-image: url("../images/page1/papers.png");
          background-repeat: no-repeat;
          background-position: -1.40625rem -1rem;
          background-size: 3.59375rem 3.5625rem;
          position: absolute;
          width: 2.6875rem;
          height: 0.8125rem;
          top: 1rem;
          left: 1.40625rem;
        }
        .paper2 {
          background-image: url("../images/page1/papers.png");
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 3.59375rem 3.5625rem;
          position: absolute;
          width: 2rem;
          height: 0.625rem;
          top: 0;
          left: 0;
        }
      }
    }
    .sphere {
      .bgic("../images/page1/sphere.png",640);
      .size(640,356);
      .px2rem(bottom,0);
    }
    .message-container {
      .bgi("../images/page1/qipao.png");
      .size(363,119);
      .px2rem(bottom,140);
      .px2rem(right,140);
      display: flex;
      justify-content: center;
      align-items: center;
      .info {
        .bgi("../images/page1/text_work.png");
        .size(220,30);
      }
    }
  }
  .scroll-page2 {
    .bg {
      .bgic("../images/page1/bg2.png",582);
      .px2rem(bottom,252);
      .size(582,520);
    }
    .person {
      .bgic("../images/page1/person2.png",436);
      .px2rem(bottom,270);
      .size(436,332);
      z-index: 1;
      .eye{
        background: url(../images/page1/eye.png) no-repeat center/100% 100%;
        position: absolute;
        left: 50%;
        margin-left: -0.65625rem;
        width: 1.3125rem;
        height: 0.5rem;
        top: 3.03125rem;
        left: 4.875rem;
      }
    }
    .sphere {
      .bgic("../images/page1/sphere.png",640);
      .size(640,356);
      .px2rem(bottom,0);
    }
    .message-container {
      .bgi("../images/page1/qipao.png");
      .size(363,119);
      .px2rem(bottom,140);
      .px2rem(right,140);
      display: flex;
      justify-content: center;
      align-items: center;
      .info {
        .bgi("../images/page1/text_home.png");
        .size(224,31);
      }
    }
  }
  .scroll-page3 {
    .bg {
      .bgic("../images/page1/bg3.png",561);
      .px2rem(bottom,270);
      .size(561,516);
    }
    .person {
      .bgic("../images/page1/person3.png",503);
      .px2rem(bottom,300);
      .size(503,229);
      z-index: 1;
      .word1{
        .bgi("../images/page1/word1.png");
        .size(92,83);
        .px2rem(left,7);
        .px2rem(bottom,194);
      }
      .word2{
        .bgi("../images/page1/word2.png");
        .size(77,70);
        .px2rem(left,115);
        .px2rem(bottom,245);
      }
      .word3{
        .bgi("../images/page1/word3.png");
        .size(115,104);
        .px2rem(right,130);
        .px2rem(bottom,220);
      }
      .word4{
        .bgi("../images/page1/word4.png");
        .size(79,73);
        .px2rem(right,12);
        .px2rem(bottom,230);
      }
    }
    .sphere {
      .bgic("../images/page1/sphere.png",640);
      .size(640,356);
      .px2rem(bottom,0);
    }
    .message-container {
      .bgi("../images/page1/qipao.png");
      .size(363,119);
      .px2rem(bottom,140);
      .px2rem(right,140);
      display: flex;
      justify-content: center;
      align-items: center;
      .info {
        .bgi("../images/page1/text_res.png");
        .size(224,31);
      }
    }
  }
  // 熊
  .bear {
    .bgi("../images/page1/bear.png");
    .size(178,134);
    .px2rem(right,38);
    .px2rem(bottom,0);
  }
}
.page2 {
  background-color: #ee4143;
  // 标题
  .title {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding-left: 1rem;
    h3 {
      color: white;
      font-size: 2rem;
    }
    p {
      color: white;
      padding-top: (12/32)*1rem;
      font-size: (12/32)*1rem;
    }
    .line {
      height: 100%;
      width: (5/32)*1rem;
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .bg{
    .bgic("../images/page1/bg2.png",576);
    .size(576,573);
    bottom: 10.625rem;
  }
  .sphere{
    background: url(../images/page2/sphere.png) no-repeat center/100% 100%;
    position: absolute;
    left: 50%;
    margin-left: -10rem;
    width: 20rem;
    height: 11.125rem;
    bottom: 0;
  }
  .bear{
    background: url(../images/page2/bear.png) no-repeat center/100% 100%;
    position: absolute;
    width: 7.59375rem;
    height: 10.90625rem;
    bottom: 7.875rem;
    right: 0;
    .leg{
      background: url(../images/page2/leg.png) no-repeat center/100% 100%;
      position: absolute;
      width: 2.53125rem;
      height: 2.90625rem;
      bottom: 0;
      left: 2.59375rem;
    }
    .face1{
      background: url(../images/page2/face1.png) no-repeat center/100% 100%;
      position: absolute;
      width: 3.1875rem;
      height: 3.1875rem;
      top: 0;
      left: -3.1875rem;
    }
    .face2{
      background: url(../images/page2/face2.png) no-repeat center/100% 100%;
      position: absolute;
      width: 3.15625rem;
      height: 3.1875rem;
      top: -3.1875rem;
      right: -1.578125rem;
    }
  }
}
.page3 {
  background-color: #dd8a03;
  // 标题
  .title {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding-left: 1rem;
    h3 {
      color: white;
      font-size: 2rem;
    }
    p {
      color: white;
      padding-top: (12/32)*1rem;
      font-size: (12/32)*1rem;
    }
    .line {
      height: 100%;
      width: (5/32)*1rem;
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .bg{
    .bgic("../images/page3/bg4.png",576);
    .size(575,410);
    bottom: 13.75rem;
  }
  .sphere{
    background: url(../images/page3/sphere.png) no-repeat center/100% 100%;
    position: absolute;
    left: 50%;
    margin-left: -10rem;
    width: 20rem;
    height: 11.125rem;
    bottom: 0;
  }
  .content{
    width: 17.9375rem;
    height: 13.15625rem;
    position: absolute;
    left: 50%;
    margin-left: -8.96875rem;
    bottom: 7.875rem;
    .person{
      position: absolute;
      background: url(../images/page3/person.png) no-repeat;
      background-position: bottom left;
      background-size: 17.9375rem 13.15625rem;
      width: 5.84375rem;
      height: 10.8125rem;
      bottom: 0;
      left: 0;
      .word1{
        position: absolute;
        background: url(../images/page3/person.png) no-repeat;
        background-size: 17.9375rem 13.15625rem;
        background-position: 0 0;
        width: 2rem;
        height: 2.1875rem;
        top: -2.1875rem;
        left: 0;
      }
      .word2{
        background: url(../images/page3/person.png) no-repeat;
        background-size: 17.9375rem 13.15625rem;
        background-position: -2rem 0;
        width: 2.6875rem;
        height: 2.1875rem;
        position: absolute;
        top: -2.1875rem;
        left: 2rem;
      }
      .iphone{
        position: absolute;
        background: url(../images/page3/person.png) no-repeat;
        background-position: bottom right;
        background-size: 17.9375rem 13.15625rem;
        width: 8.21875rem;
        height: 13.15625rem;
        bottom: 0;
        right: -12.09375rem;
        .hand{
          background: url(../images/page3/hands.png) no-repeat center/100% 100%;
          position: absolute;
          width: 8.53125rem;
          height: 6.59375rem;
          bottom: 3.125rem;
          right: 2.5rem;
        }
      }
    }
  }
}
.page4 {
  background-color: #3fa100;
  // 标题
  .title {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding-left: 1rem;
    h3 {
      color: white;
      font-size: 2rem;
    }
    p {
      color: white;
      padding-top: (12/32)*1rem;
      font-size: (12/32)*1rem;
    }
    .line {
      height: 100%;
      width: (5/32)*1rem;
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .bg{
    background: url(../images/page4/bg.png) no-repeat center/100% 100%;
    position: absolute;
    left: 50%;
    margin-left: -8.765625rem;
    width: 17.53125rem;
    height: 16.125rem;
    bottom: 12.5rem;
  }
  .sphere{
    background: url(../images/page4/sphere.png) no-repeat center/100% 100%;
    position: absolute;
    left: 50%;
    margin-left: -10rem;
    width: 20rem;
    height: 11.125rem;
    bottom: 0;
  }
  .bear{
    background: url(../images/page4/bear.png) no-repeat center/100% 100%;
    position: absolute;
    left: 50%;
    margin-left: -4.21875rem;
    width: 8.4375rem;
    height: 11rem;
    bottom: 6.25rem;
  }
  .care1{
    background: url(../images/page4/card1.png) no-repeat center/100% 100%;
    position: absolute;
    width: 5rem;
    height: 5.46875rem;
    bottom: 13.59375rem;
    left: 1rem;
  }
  .care2{
    background: url(../images/page4/card2.png) no-repeat center/100% 100%;
    position: absolute;
    left: 50%;
    margin-left: -2.515625rem;
    width: 5.03125rem;
    height: 5.625rem;
    bottom: 16.5625rem;
  }
  .care3{
    background: url(../images/page4/card3.png) no-repeat center/100% 100%;
    position: absolute;
    width: 5.21875rem;
    height: 5.75rem;
    bottom: 13.125rem;
    right: 1.40625rem;
  }
}
.page5 {
  background-color: #0098cf;
  // 标题
  .title {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding-left: 1rem;
    h3 {
      color: white;
      font-size: 2rem;
    }
    p {
      color: white;
      padding-top: (12/32)*1rem;
      font-size: (12/32)*1rem;
    }
    .line {
      height: 100%;
      width: (5/32)*1rem;
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .bg{
    .bgic("../images/page5/bg.png",590);
    .size(590,492);
    bottom: 9.375rem;
  }
  .sphere{
    background: url(../images/page5/sphere.png) no-repeat center/100% 100%;
    position: absolute;
    left: 50%;
    margin-left: -10rem;
    width: 20rem;
    height: 11.125rem;
    bottom: 0;
  }
  .cloud{
    background: url(../images/page5/cloud.png) no-repeat center/100% 100%;
    position: absolute;
    left: 50%;
    margin-left: -6.75rem;
    width: 13.5rem;
    height: 5rem;
    bottom: 20.15625rem;
  }
  .bear{
    background: url(../images/welcome/bear.png) no-repeat center/100% 100%;
    position: absolute;
    left: 50%;
    margin-left: -3.59375rem;
    width: 7.1875rem;
    height: 12.1875rem;
    bottom: 5.46875rem;
    .smoke{
      background: url(../images/welcome/smoke.png) no-repeat center/100% 100%;
      position: absolute;
      left: 50%;
      margin-left: -2.609375rem;
      width: 5.21875rem;
      height: 1rem;
      bottom: 0;
    }
  }
}
.page6 {
  background-color: #b527a0;
  // 标题
  .title {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding-left: 1rem;
    h3 {
      color: white;
      font-size: 2rem;
    }
    p {
      color: white;
      padding-top: (12/32)*1rem;
      font-size: (12/32)*1rem;
    }
    .line {
      height: 100%;
      width: (5/32)*1rem;
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .bg{
    .bgic("../images/page4/bg.png",561);
    .size(561,516);
    bottom: 11.875rem;
  }
  .sphere{
    .bgic("../images/page6/sphere.png",640);
    .size(640,356);
    bottom: 0;
  }
  .bear{
    .bgic("../images/page6/bear.png",285);
    .size(285,328);
    bottom: 6.25rem;
    .gift-box{
      position: absolute;
      top: 0;
      left: 50%;
      .gift1{
        .bgic("../images/page6/gift1.png",42);
        .size(42,36);
        transform: rotateZ(28deg) translateY(240/32rem);
      }
      .gift2{
        .bgic("../images/page6/gift2.png",113);
        .size(113,131);
        transform: rotateZ(28deg*2) translateY(240/32rem);
      }
      .gift3{
        .bgic("../images/page6/gift3.png",116);
        .size(116,122);
        transform: rotateZ(28deg*3) translateY(240/32rem);
      }
      .gift4{
        .bgic("../images/page6/gift4.png",105);
        .size(105,79);
        transform: rotateZ(28deg*4) translateY(240/32rem);
      }
      .gift5{
        .bgic("../images/page6/gift5.png",119);
        .size(119,71);
        transform: rotateZ(28deg*5) translateY(240/32rem);
      }
      .gift6{
        .bgic("../images/page6/gift6.png",109);
        .size(109,125);
        transform: rotateZ(28deg*6) translateY(240/32rem);
      }
      .gift7{
        .bgic("../images/page6/gift7.png",93);
        .size(93,114);
        transform: rotateZ(28deg*7) translateY(240/32rem);
      }
      .gift8{
        .bgic("../images/page6/gift8.png",149);
        .size(149,157);
        transform: rotateZ(28deg*8) translateY(240/32rem);
      }
      .gift9{
        .bgic("../images/page6/gift1.png",42);
        .size(42,36);
        transform: rotateZ(28deg*9+8deg) translateY(240/32rem);
      }
      .gift10{
        .bgic("../images/page6/gift10.png",66);
        .size(66,62);
        transform: rotateZ(28deg*10) translateY(240/32rem);
      }
      .gift11{
        .bgic("../images/page6/gift6.png",109);
        .size(109,125);
        transform: rotateZ(28deg*11) translateY(240/32rem);
      }
      .gift12{
        .bgic("../images/page6/gift12.png",89);
        .size(89,43);
        transform: rotateZ(28deg*12) translateY(240/32rem);
      }
    }
  }
}
.page7 {
  background-color: #19072a;
  // 标题
  .title {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding-left: 1rem;
    h3 {
      color: white;
      font-size: 2rem;
    }
    p {
      color: white;
      padding-top: (12/32)*1rem;
      font-size: (12/32)*1rem;
    }
    .line {
      height: 100%;
      width: (5/32)*1rem;
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .streetlight{
    .bgic("../images/page7/bg.png",337);
    .size(337,459);
    bottom: 9.375rem;
    .light{
      .bgi("../images/page7/light.png");
      .size(337,369);
      bottom: 0;
    }
  }
  .sphere{
    .bgic("../images/page7/sphere.png",640);
    .size(640,356);
    bottom: 0;
  }
  .motobike{
    .bgi("../images/page7/motobike.png");
    .size(200,137);
    left: 3.90625rem;
    bottom: 10.46875rem;
  }
  .share{
    .bgic("../images/page7/share.png",379);
    .size(379,113);
    bottom: 4.375rem;
  }
  .info{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 24/32rem;
    color: #b579d6;
    .px2rem(bottom,70);
  }
}


/*
    定义动画
*/
//  进度条动画
@keyframes steps {
  to{
    width: 100%;
  }
}
//  熊开车动画
@keyframes bearRide {
  10% {
    transform: translateX((-26/32rem)*1) translateY(-10/32rem);
  }
  20% {
    transform: translateX((-26/32rem)*2) translateY(10/32rem);
  }
  30% {
    transform: translateX((-26/32rem)*3) translateY(-10/32rem);
  }
  40% {
    transform: translateX((-26/32rem)*4) translateY(10/32rem);
  }
  50% {
    transform: translateX((-26/32rem)*5) translateY(-10/32rem);
  }
  60% {
    transform: translateX((-26/32rem)*6) translateY(10/32rem);
  }
  70% {
    transform: translateX((-26/32rem)*7) translateY(-10/32rem);
  }
  80% {
    transform: translateX((-26/32rem)*8) translateY(10/32rem);
  }
  90% {
    transform: translateX((-26/32rem)*9) translateY(-10/32rem);
  }
  100% {
    transform: translateX((-26/32rem)*10) translateY(10/32rem);
  }
  /*to{
    transform: translateX(-260/32rem);
  }*/
}

//  直接调整样式 为动画的 初始状态
/*... ... 为了可以走进度 进度条中 添加子元素 .step*/
.loading {
  .progress{
    background-color: transparent;
    .step{
      width: 20%;
      height: 100%;
      background-color: #ff2947;
      right: 0;
      position: absolute;
    }
  }
}
//  loading页面触发动画
.loading.animate{
  .step{
    animation: steps 2s linear forwards;
  }
  .rider{
    animation: bearRide 2s linear forwards;
  }
}


//  页面2 地动画
@keyframes grass1 {
  from{}
  to{
    .px2rem(height,396);
  }
}
//  页面2 草2动画   大  ==>  小
@keyframes grass2 {
  from{
    transform: scale(2,1);
  }
  to{
    opacity: 1;       //  透明度由 0 变为 1
  }
}
//  页面2 树动画
@keyframes trees{
  from{
    transform: translateY(-200%);
  }
  80%{
    transform: translateY(10%);
    opacity: 1;
  }
  90%{
    transform: translateY(-10%);
    opacity: 1;
  }
  100%{
    transform: none;
    opacity: 1;
  }
}
//  页面2 按钮 从0到1动画
@keyframes btnAppear {
  from{}
  to{
    opacity: 1;
    transform: none;
  }
}
@keyframes rotate {
  from{}
  to{
    transform: rotate(360deg);
  }
}
//  页面2 熊动画
@keyframes bearDown {
  from{
    transform: translateY(-100%);
  }
  to{
    transform: none;
    opacity: 1;
  }
}
@keyframes upandDown {
  from{
    transform: translateY(-5%);
  }
  to{
    transform: none;
  }
}
@keyframes small2big {
  from{
    transform: scale(0,0);
  }
  to{
    transform: none;
    opacity: 1;
  }
}
//  熊盒子向下移动变大淡出
@keyframes bearDisappear {
  from{
    opacity: 1;
  }
  to{
    transform: translateY(100%) scale(1.5,1.5);
    opacity: 0;
  }
}
//  欢迎页面的默认样式
.welcome {
  .grass1{
    .px2rem(height,20);
  }
  .grass2{
    opacity: 0;
  }
  .trees{
    opacity: 0;
  }
  .rotate-btn-box{
    opacity: 0;
    transform: scale(0,0);
  }
  .bear-box{
    opacity: 0;
  }
  .smoke{
    opacity: 0;
  }
  .info{
    opacity: 0;
  }
  .hello{
    opacity: 0;
  }
}
//  欢迎页面使用动画
.welcome.animate{
  .grass1{
    animation: grass1 0.8s forwards;   //  使用动画  1s 匀速  结束后停止
  }
  .grass2{
    animation: grass2 .5s .8s forwards;     //  使用动画  .5s  延迟.8s
  }
  .trees{
    animation: trees .5s 1s forwards;
  }
  .rotate-btn-box{
    animation: btnAppear .5s 1.5s forwards;
  }
  .circle2{
    animation: rotate 1s linear infinite;    //  infinite 表示一直转
  }
  .bear-box{
    animation: bearDown .5s 2s forwards;
  }
  .bear{
    animation: upandDown .5s 2.5s infinite;
  }
  .smoke{
    animation: small2big .5s 2.5s infinite;
  }
  .info{
    animation: bearDown .5s 3s forwards;
  }
  .hello{
    animation: small2big .5s 3.5s  forwards;
  }
}


@keyframes right2left {
  from{
    transform: translateX(100%);
  }
  to{
    transform: none;
    opacity: 1;
  }
}
@keyframes heightBigger {
  from{}
  to{
    height: 100%;
  }
}
//  由于所有的 title 部分的动画都是一样的结构
.title{
  h3{
    opacity: 0;
  }
  p{
    opacity: 0;
  }
  .line{
    height: 0% !important;
  }
}
//  使用动画
.swiper-slide.animate{
  h3{
    animation: right2left .5s forwards;
  }
  p{
    animation: right2left .5s .2s forwards;
  }
  .line{
    animation: heightBigger .5s .5s forwards;
  }
}


//  旋转进来  悬停.5s  转出去
@keyframes rotateInOut {
  0%{
    transform: rotateZ(90deg);
  }
  25%{
    transform: rotateZ(-5deg);
    opacity: 1;
  }
  30%{
    transform: rotateZ(0);
    opacity: 1;
  }
  65%{
    transform: rotateZ(0);
    opacity: 1;
  }
  70%{
    transform: rotateZ(5deg);
    opacity: 1;
  }
  100%{
    transform: rotateZ(-90deg);
    opacity: 0;
  }
}
//  转进来不出去
@keyframes rotateInNotOut {
  0%{
    transform: rotateZ(90deg);
  }
  95%{
    transform: rotateZ(-5deg);
    opacity: 1;
  }
  100%{
    transform: rotateZ(0deg);
    opacity: 1;
  }
}
//  上下左右晃动
@keyframes runUpDownLeftRight {
  25%{
    transform: translateX(10%) translateY(0);
  }
  50%{
    transform: translateX(-10%) translateY(10%);
  }
  75%{
    transform: translateX(0%) translateY(-10%);
  }
  100%{
    transform: translateX(0%) translateY(0);
  }
}
// 纸左右晃动
@keyframes left2Right2left {
  30%{
    transform: translateX(-100%);
  }
  60%{
    transform: translateX(100%);
  }
  100%{
    transform: none;
  }
}
@keyframes zhayan {
  30%{
    transform:scale(1,0);
  }
  70%{
    transform:scale(1,0);
  }
  100%{
    transform:scale(1,0);
  }
}
//  区域1 中的轮播部分
.page1{
  .scroll-page1{
    .bg{
      opacity: 0;
      transform-origin: 50% 200%;
    }
    .person{
      opacity: 0;
      transform-origin: 50% 200%;
    }
    .message-container{
      opacity: 0;
      transform-origin: right bottom;
    }
  }
  .scroll-page2{
    .bg{
      opacity: 0;
      transform-origin: 50% 200%;
    }
    .person{
      opacity: 0;
      transform-origin: 50% 200%;
    }
    .message-container{
      opacity: 0;
      transform-origin: right bottom;
    }
  }
  .scroll-page3{
    .bg{
      opacity: 0;
      transform-origin: 50% 200%;
    }
    .person{
      opacity: 0;
      transform-origin: 50% 200%;
    }
    .message-container{
      opacity: 0;
      transform-origin: right bottom;
    }
  }
}
//  使用动画
.page1.animate{
  .scroll-page1{
    .bg{
      animation: rotateInOut 2s forwards;
    }
    .person{
      animation: rotateInOut 2s .2s forwards;
      .paper1{
        animation: left2Right2left 2s infinite;
      }
      .paper2{
        animation: left2Right2left 2s .2s infinite;
      }
    }
    .message-container{
      animation: rotateInOut 1s .5s forwards;
    }
  }
  .scroll-page2{
    .bg{
      animation: rotateInOut 2s 2.2s forwards;
    }
    .person{
      animation: rotateInOut 2s 2.4s forwards;
      .eye{
        animation: zhayan .3s infinite;
      }
    }
    .message-container{
      animation: rotateInOut 1s 2.7s forwards;
    }
  }
  .scroll-page3{
    .bg{
      animation: rotateInNotOut 1s 4.4s forwards;
    }
    .person{
      animation: rotateInNotOut 1s 4.6s forwards;
    }
    .message-container{
      animation: rotateInNotOut 1s 4.9s forwards;
    }
    .word1{
      animation: runUpDownLeftRight 1s infinite;
    }
    .word2{
      animation: runUpDownLeftRight .5s infinite;
    }
    .word3{
      animation: runUpDownLeftRight .8s infinite;
    }
    .word4{
      animation: runUpDownLeftRight 1.2s infinite;
    }
  }
}

/*第二页*/
@keyframes move {
  1% {
    opacity: 1; }
  49% {
    opacity: 1;
    transform: translateX(-180%); }
  50% {
    opacity: 1;
    transform: translateX(-180%) rotateY(-180deg); }
  100% {
    opacity: 1;
    transform: translateX(0) rotateY(-180deg); } }
@keyframes run {
  to {
    opacity: 0; } }
@keyframes runAllOver2 {
  25% {
    transform: translateX(20%) translateY(0); }
  50% {
    transform: translateX(0) translateY(-20%); }
  75% {
    transform: translateX(-20%) translateY(0); }
  100% {
    transform: translateX(0) translateY(20%); } }
.page2 {
  .bg{
    opacity: 0;
    transform-origin: 50% 200%;
  }
  .bear {
    opacity: 0; }
  .leg {
    opacity: 1; }
}
.page2.animate{
  .bg{
    animation: rotateInNotOut 2s forwards;
  }
  .bear{
    animation: move 4s 1s infinite;
    .face1{
      animation: runAllOver2 .6s infinite;
    }
    .face2{
      animation: runAllOver2 1.3s infinite;
    }
    .leg{
      animation: run .4s infinite;
    }
  }
}

/*第三页*/
@keyframes showHands {
  from {
    transform: scale(0, 0); }
  to {
    opacity: 1;
    transform: none; } }
@keyframes showWords {
  25% {
    opacity: 1;
    transform: translateX(20%) translateY(0); }
  50% {
    opacity: 1;
    transform: translateX(0) translateY(-20%); }
  75% {
    opacity: 1;
    transform: translateX(-20%) translateY(0); }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(20%); } }
.page3{
  .bg{
    opacity: 0;
    transform-origin: 50% 200%;
  }
  .person {
    opacity: 0;
    transform-origin: 50% 200%;
    .hand {
      opacity: 0;
      transform-origin: 100% 100%;
    }
    .word1{
      opacity: 0;
    }
    .word2 {
      opacity: 0;
    }
  }
}
.page3.animate {
  .bg{
    animation: rotateInNotOut 2s forwards;
  }
  .person {
    animation: rotateInNotOut 2s 1.2s forwards;
    .word1 {
      animation: showWords .6s 4.4s infinite; }
    .word2 {
      animation: showWords 1.3s 4.4s infinite; }
    .hand {
      animation: showHands 1.2s 3.2s forwards; }
  }
}

/*第四页*/
.page4{
  .bg{
    opacity: 0;
    transform-origin: 50% 200%;
  }
  .bear {
    opacity: 0;
  }
  .care1 {
    opacity: 0;
  }
  .care2 {
    opacity: 0;
  }
  .care3 {
    opacity: 0;
  }
}
.page4.animate {
  .bg{
    animation: rotateInNotOut 2s forwards;
  }
  .bear {
    animation: bearDown .5s 2s forwards; }
  .care1 {
    animation: small2big .5s 2.5s forwards; }
  .care2 {
    animation: small2big .5s 2.5s forwards; }
  .care3 {
    animation: small2big .5s 2.5s forwards; }
}

/*第五页*/
@keyframes snowLeft {
  to {
    opacity: 0;
    transform: translateY(1200%) translateX(-200%); } }
@keyframes snowRight {
  to {
    opacity: 0;
    transform: translateY(1200%) translateX(200%); } }
.page5{
  .bg{
    opacity: 0;
    transform-origin: 50% 200%;
  }
  .bear{
    opacity: 0;
    .smoke{
      opacity: 0;
    }
  }
  .cloud{
    opacity: 0;
    .snow{
      .bgi("../images/page5/snow.png");
      .size(32,32);
      bottom: 0;
    }
    .snow:nth-child(2){
      .px2rem(left,32*2);
    }
    .snow:nth-child(3){
      .px2rem(left,32*4);
    }
    .snow:nth-child(4){
      .px2rem(left,32*6);
    }
    .snow:nth-child(5){
      .px2rem(left,32*8);
    }
    .snow:nth-child(6){
      .px2rem(left,32*10);
    }
  }
}
.page5.animate {
  .bg{
    animation: rotateInNotOut 2s forwards;
  }
  .bear {
    animation: bearDown .5s 2s forwards, upandDown .5s 2.5s infinite;
    .smoke {
      animation: small2big .5s infinite;
    }
  }
  .cloud {
    animation: small2big .5s 3s forwards,runUpDownLeftRight 1s 3.5s infinite;
    .snow:nth-child(1) {
      animation: snowLeft .5s 3s infinite;
    }
    .snow:nth-child(2) {
      animation: snowRight 1.5s 3s infinite;
    }
    .snow:nth-child(3) {
      animation: snowLeft 1s 3s infinite;
    }
    .snow:nth-child(4) {
      animation: snowRight 2s 3s infinite;
    }
    .snow:nth-child(5) {
      animation: snowLeft .6s 3s infinite;
    }
    .snow:nth-child(6) {
      animation: snowRight .8s 3s infinite;
    }
  }
}

/*第六页*/
@keyframes none2Normal {
  from {
    transform: none; }
  to {
    opacity: 1; } }
@keyframes big2Small {
  to {
    transform: scale(0, 0);
    opacity: 0; } }
.page6 {
  .bg{
    opacity: 0;
    transform-origin: 50% 200%;
  }
  .bear{
    opacity: 0;
  }
  .gift-box > div {
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0; }
}
.page6.animate{
  .bg{
    animation: rotateInNotOut 2s forwards;
  }
  .bear {
    animation: small2big .5s 1s forwards;
  }
  .gift-box > div:nth-child(1) {
    animation: none2Normal 2s 0.1s infinite;
    div {
  animation: rotate 2s 0.1s infinite; }
  }
  .gift-box > div:nth-child(2) {
    animation: none2Normal 2s 0.2s infinite;
    div {
  animation: rotate 2s 0.2s infinite; }
  }
  .gift-box > div:nth-child(3) {
    animation: none2Normal 2s 0.3s infinite;
    div {
  animation: rotate 2s 0.3s infinite; }
  }
  .gift-box > div:nth-child(4) {
    animation: none2Normal 2s 0.4s infinite;
    div {
  animation: rotate 2s 0.4s infinite; }
  }
  .gift-box > div:nth-child(5) {
    animation: none2Normal 2s 0.5s infinite;
    div {
  animation: rotate 2s 0.5s infinite; }
  }
  .gift-box > div:nth-child(6) {
    animation: none2Normal 2s 0.6s infinite;
    div {
  animation: rotate 2s 0.6s infinite; }
  }
  .gift-box > div:nth-child(7) {
    animation: none2Normal 2s 0.7s infinite;
    div {
  animation: rotate 2s 0.7s infinite; }
  }
  .gift-box > div:nth-child(8) {
    animation: none2Normal 2s 0.8s infinite;
    div {
  animation: rotate 2s 0.8s infinite; }
  }
  .gift-box > div:nth-child(9) {
    animation: none2Normal 2s 0.9s infinite;
    div {
  animation: rotate 2s 0.9s infinite; }
  }
  .gift-box > div:nth-child(10) {
    animation: none2Normal 2s 1s infinite;
    div {
  animation: rotate 2s 1s infinite; }
  }
  .gift-box > div:nth-child(11) {
    animation: none2Normal 2s 1.1s infinite;
    div {
  animation: rotate 2s 1.1s infinite; }
  }
  .gift-box > div:nth-child(12) {
    animation: none2Normal 2s 1.2s infinite;
    div {
  animation: rotate 2s 1.2s infinite; }
  }
}

/*第七页*/
.page7{
  .streetlight{
    opacity: 0;
    transform-origin: 50% 200%;
  }
}
.page7.animate {
  .streetlight {
    animation: rotateInNotOut 2s forwards;
  }
}


/*播放按钮样式*/
.audioControl{
  .size(36,36);
  position: absolute;
  .px2rem(top,32);
  .px2rem(right,32);
  background: url("../images/music/play.png") no-repeat center  / 100% 100%;
  z-index: 2;
}